.home-news {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    margin: 21px 0;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 21px;
    justify-items: center;
    align-items: center;
    margin-bottom: 42px;
}

.home-loader {
    width: 21px;
    height: 21px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1080px) {
    .home-news {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }
}